<% provide(:title, "About") %>

<section class="page-section" id="services">
  <div class="container">
      <div class="text-center">
          <h2 class="section-heading text-uppercase">このサイトについて</h2>
      </div>
      <div class="row text-center">
          <div class="col-md-4">
              <h4 class="my-3">理念</h4>
              <h3 class="section-subheading text-muted">殺処分ゼロを目指す</h3>
              <p class="text-muted">常に人類の友であり続ける犬猫。犬猫は今も我々に幸せを与え続けてくれています。
              しかしながら飼い主と別れ人間社会に居場所を失った保護犬・猫たちが存在します。
              そしてその保護犬・猫たちの80％が殺処分されているという現実があります。
              そうした社会問題の解決へ、殺処分ゼロを目的とした『里親マッチングサイト』です。</p><br>
          </div>
          <div class="col-md-4">
              <h4 class="my-3">里親マッチングサイトとは？</h4>
              <h3 class="section-subheading text-muted">動物病院の保護犬猫の譲渡活動をサポートする</h3>
              <p class="text-muted">当サイトの理念に賛同していただいた日本全国の動物保護施設に保護されている、もしくは動物保護施設が里親探しをしている犬猫たちを動物保護施設が実際の出会いの場となり、新しい家族へ譲渡されるという今まで存在していなかった新しい形のマッチングサイトです。
              動物病院にて簡易的な健康診断、ワクチン接種等を行ってからの譲渡になる為、健康面や衛生面でも安心して家族に迎え入れることが出来ます。
              本サイトが１頭でも多くの保護犬猫たちに新しい家族が見つかる手助けになればと願っております。</p>
          </div>
      </div>
  </div>
</section>