<% provide(:title, "About") %>
<p>
里親マッチングサイト Veterinary Adoptionとは？
動物病院による保護犬猫の譲渡活動をサポートする

写真この理念に賛同していただいた日本全国の動物病院に保護されている、もしくは動物病院が里親探しをしている犬猫たちを動物病院が実際の出会いの場となり、新しい家族へ譲渡されるという今まで存在していなかった新しい形のマッチングサイトです。

動物病院にて簡易的な健康診断、ワクチン接種等を行ってからの譲渡になる為、健康面や衛生面でも安心して家族に迎え入れることが出来ます。

本サイトが１頭でも多くの保護犬猫たちに新しい家族が見つかる手助けになればと願っております。
</p>