<% provide(:title, "Flow") %>

①はじめに
<p>
Veterinary Adoptionサイト内の、「保護犬・猫とは」「このサイトについて」をご一読ください。
</p>

②探す
<p>
写真納得していただきましたら「保護犬・猫を探す」からご自身に合う保護犬・猫を検索してください。
</p>

③新規会員登録
<p>
写真ご希望の保護犬・猫が見つかりましたら、まずは「新規里親希望者登録」をお願いいたします。
当サイトより確認メールが届きますので、記載されている仮登録URLへ60分以内にアクセスを行っていただくことで本登録が完了いたします。
</p>

④動物病院へ相談/申し込み
<p>
写真ユーザー登録完了後、「ログイン」していただきご希望の保護犬・猫の詳細ページの「相談する」ボタンをクリックしてください。
</p>

⑤動物病院からの返信を待つ
<p>
写真掲載病院へ通知が行きますので、病院から返信があるまでお待ちください。
</p>

⑥動物病院とのやりとり開始
<p>
写真動物病院から返信がありましたら、登録のメールアドレスに通知メールが届きますので、再度ログインしていただきマイページ上で動物病院と直接やり取りを行ってください。
</p>

⑦面談⇒譲渡・受け入れ
<p>
その後、面談→譲渡となります。
受入れの際には健康管理に必要な各種ワクチン、マイクロチップ、健康診断等に関する実費が必要となります。
</p>