<% provide(:title, "Home") %>
<div class="center jumbotron">
  
  <%= link_to "里親希望者 新規登録", new_user_registration_path, data: {"turbolinks" => false}, class: "btn btn-lg btn-primary" %>
  <%= link_to "里親募集者 新規登録", new_foster_parent_recruiter_registration_path, data: {"turbolinks" => false}, class: "btn btn-lg btn-primary" %>
  <%= link_to "動物保護施設 新規登録", new_center_registration_path, data: {"turbolinks" => false}, class: "btn btn-lg btn-primary" %>
</div>
  
<%= link_to image_tag("logo_d.jpg", alt: "cat_app logo", width: "500px"),
                      "#" %>