<li><%= link_to user.email, user %></li>
<li><%= link_to 'Edit', edit_user_registration_path(user) %></li>
<li><%= link_to 'Destroy', user_registration_path, method: :delete, data: { confirm: 'Are you sure?' } %></li>
