<li><%= link_to center.email, center %></li>
<li><%= link_to 'Edit', edit_center_registration_path(center) %></li>
<li><%= link_to 'Destroy', center_registration_path, method: :delete, data: { confirm: 'Are you sure?' } %></li>