<p id="notice"><%= notice %></p>

<% provide(:title, "Centers") %>

<ul class="centers">
  <%= render @centers %>
</ul>
<%= paginate @centers %>
<br>

<%= link_to 'New Center', new_center_registration_path %>