<h1>Editing Foster Parent Recruiter</h1>

<%= render 'form', foster_parent_recruiter: @foster_parent_recruiter %>

<%= link_to 'Show', @foster_parent_recruiter %> |
<%= link_to 'Back', foster_parent_recruiters_path %>
